@import url("https://fonts.googleapis.com/css?family=Mulidisplay=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
